<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/m-layout :: headFragment">
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/m-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/m-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/m-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="/problems.html"  th:href="@{/}">Problems</a></li>
			    <li><a href="/instance.html"  th:href="@{/instances(problemId=${problem.idPrblm})}">Instances</a></li>
			    <li><a href="/analyses.html"  th:href="@{/analyses(problemId=${problem.idPrblm},instanceId=${instance.idInstnc})}">Analyses</a></li>
			</ul>
			<!-- /BREADCRUMBS -->
 
			<!-- mainContentBox -->
			<div id="mainContentBox">
				<div class="box border blue">
			       <div class="box-title"><h4  th:text="'Problem: '+${problem.snm}+' > Instance: ' +${instance.snm} +' > analysis:' +${analysis.snm} +' > criteria chart' "></h4>

			       </div>
				    <div class="box-body">
			         <img th:src="${graphURL}" th:attr="usemap=${fileName}" border="0"></img>
			         <div>
			          <input type="checkbox" th:each="altrntv : ${altrntvList}" th:text="${altrntv.snm}" th:value="${altrntv.idAltrntv}" name="altrntvs" th:checked="${criteriaChart.isActive(altrntv.idAltrntv,bestAltrntv.idAltrntv)}"></input>
			         </div>
			         
			         <div>
			         tes
			         </div>
			         </div>
			</div>
			</div>
			<!-- /mainContentBox -->
		</div>
		<!-- /maincontent -->
	</section>
	<!--/PAGE -->
	
	<div th:include="fragments/m-layout :: footerFragment"></div>

	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/m-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {		
		 App.init(); //Initialise plugins and elements
		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>